.aboutSection {
  background-color: #FFFFFF;
  padding: 5rem 0;
  text-align: center;
  color: var(--text-dark);
}

.aboutContainer {
  max-width: 900px;
}

.aboutTitle {
  font-size: 2rem;
  font-weight: 800;
  color: var(--primary-dark-blue);
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.aboutContent {
  margin-bottom: 2.5rem;
}

.aboutContent p {
  font-size: 1.05rem;
  line-height: 1.7;
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: var(--text-dark);
}

.aboutBtn {
  background-color: var(--primary-dark-blue);
  color: var(--primary-white);
  border-radius: 5px;
  padding: 0.8rem 2.5rem;
  text-transform: none;
  font-size: 1.1rem;
}

.aboutBtn:hover {
  background-color: var(--primary-red);
  color: var(--primary-white);
}
